<div class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Car Name</th>
            <th>Brand Name</th>
            <th>Color Name</th>
            <th>Model Year</th>
            <th>Descriptions</th>
            <th>Daily Price</th>
        </tr>
    </thead>

    <tr *ngFor="let car of cars">
        <td>{{car.Id}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.descriptions}}</td>
        <td>{{car.dailyPrice}}</td>
    </tr>

</div>